<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
			<rule name="WordPress: http://d6777082.r1482.webquarters.ca" patternSyntax="Wildcard">
				<match url="*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
				<action type="Rewrite" url="index.php" />
			</rule></rules>
    </rewrite>
        <handlers>
            <remove name="HS-PHP-php" />
            <add name="HS-PHP-php" path="*.php" verb="GET,HEAD,POST,TRACE" modules="FastCgiModule" scriptProcessor="C:\Program Files\HSphere\3rdparty\PHP\php56\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
  </system.webServer>
</configuration>
